.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
/* ************************************ */
/* ********** General Styles ********** */
/* ************************************ */
:root {
  /* Primary Colors */
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);

  /* Typography */
  --font-family-young-serif: 'Young Serif', serif;
  --font-family-outfit: 'Outfit', sans-serif;
}


*{
  margin: 0;
}

body{
  max-width: 460px;
  background-color: var(--white);
  font-family: var(--font-family-outfit), sans-serif;
}

h2{
  font-size: 38px;
  font-family: var(--font-family-young-serif);
  font-weight: 500;
  line-height: 1.15;
}

h3{
  font-size: 28px;
  font-family: var(--font-family-young-serif);
  font-weight: 500;
  color: var(--nutmeg)
}

h4{
  font-size: 22px;
}
b{
  color: var(--wenge-brown);
}

/* ************************************ */
/* ********* Reusable Styles ********** */
/* ************************************ */
.col{
  flex-direction: column;
}

.row, .item{
  flex-direction: row;
}

.d-flex{
  display: flex;
}

.w-100{
  width: 100%;
}

.flex-center{
  justify-content: center;
  justify-items: center;
}

.mb-12{
  margin-bottom: 12px;
}

.mb-25{
  margin-bottom: 25px;
}

.mt-25{
  margin-top: 25px;
}

/* ************************************ */
/* ********* Container Styles ********* */
/* ************************************ */

/* ***** SEC: ALL ***** */
main > div h3{
  margin-bottom: 16px;
}

main > div > section{
  margin: 20px 6vw 0px;
}

/* ***** SEC: IMG ***** */
main > div:first-child > img{
  margin: 0 0 30px;
  position: relative;
}

/* ***** SEC: INTRO ***** */
main > div div.intro-sub-ctn{
  background-color: var(--rose-white);
  padding: 25px 20px;
  border-radius: 10px;
}

main > div div.intro-sub-ctn > h4{
  color: var(--dark-raspberry);
}

/* ***** SEC: LISTS ***** */
section li {
  padding: 4px 15px;
  font-size: 0.95rem;
}

section li b{
  font-size: 0.92.5rem;
}

section > * > li {
  padding: 5px 15px;
  font-size: 1rem;
  line-height: 1.35;
}

section > * > li::marker {
  color: var(--nutmeg);
  font-weight: 600;
  font-size: 0.8rem;
}

ul > li::marker {
  color: var(--nutmeg);
}

.intro-sub-ctn ul > li::marker {
  color: var(--dark-raspberry);
}


/* ************************************ */
/* ********** Tabular Styles ********** */
/* ************************************ */

.item {
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px; /* Adjust padding as needed */
}

.label {
  flex: 1;
  text-align: left;
}

.value {
  flex: 0.75;
  text-align: left;
  font-weight: 600;
  color: var(--nutmeg);
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--light-grey);
  margin: 20px 0; 
}

.food-nutrition hr{
  margin: 5px 0; 
}

.divider{
  width: 330px;
  margin: 25px auto;
}