.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
/* ************************************ */
/* ********** General Styles ********** */
/* ************************************ */
:root {
  /* Primary Colors */
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
}

*{
  margin: 0;
}

body{
  max-width: 460px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
  font-size: 38px;
}

h3{
  font-size: 28px;
}

h4{
  font-size: 22px;
}
b{
  color: var(--wenge-brown);
}

/* ************************************ */
/* ********* Reusable Styles ********** */
/* ************************************ */
.col{
  flex-direction: column;
}

.row, .item{
  flex-direction: row;
}

.d-flex{
  display: flex;
}

.w-100{
  width: 100%;
}

.flex-center{
  justify-content: center;
  justify-items: center;
}

/* ************************************ */
/* ********* Container Styles ********* */
/* ************************************ */

/* ***** SEC: ALL ***** */
main > div h3{
  color: var(--nutmeg);
  margin-bottom: 16px;
}

main > div > *{
  margin: 30px auto;
  background-color: rgb(209, 218, 226);
  margin: 20px 5vw 0px;
  gap: 30px;
}

/* ***** SEC: IMG ***** */
main > div:first-child > img{
  margin: 0 0 30px;
  position: relative
}

/* ***** SEC: INTRO ***** */
main > div div.intro-sub-ctn{
  background-color: var(--rose-white);
  padding: 25px 20px;
  border-radius: 10px;
}

main > div div.intro-sub-ctn > h4{
  color: var(--dark-raspberry);
}

/* ***** SEC: LISTS ***** */
section > * > li {
  padding: 5px 20px;
  font-size: 0.9rem;
  line-height: 1.35;
}

section > * > li::marker {
  color: var(--nutmeg);
  font-weight: 600;
}


/* ************************************ */
/* ********** Tabular Styles ********** */
/* ************************************ */


.table-ctn {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px; /* Adjust padding as needed */
}

.label {
  flex: 1;
  text-align: left;
}

.value {
  flex: 0.75;
  text-align: left;
  font-weight: bold;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid grey; /* Adjust style as needed */
  margin: 0; /* Adjust margin as needed */
}